.copy {
  text-align: center;
  margin-top: 100px;
  color: $olive;

  h3 {
    font-family: 'Pacifico', cursive;
    font-size: 36pt;
  }

  hr {
    width: 300px;
    border-color: $lightGreen;
  }

  h5 {
    font-family: 'Roboto Condensed', sans-serif;
  }

}
