.nav {
  height: 65px;
  width: 100%;
  background-color: $olive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 1;

  .logo {
    margin-right: 70%;
    flex-shrink: 1;
    font-family: 'Pacifico', cursive;
    font-size: 36pt;
    flex-basis: auto;;
  }

  .space {
    flex-shrink: 0;
    width: 5%;
  }

  .hamburger {
    flex-shrink: 1;
    &:hover{
      background-color: darken($olive, 8%);
    }

    img {
      height: 65px;
    }

    .dropdown {
      height: 200px;
      width: 195px;
      position: absolute;
      left: 80%;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      cursor: pointer;

      .menu-option {
        color: $olive;
        font-family: 'Pacifico', cursive;
        text-align: center;
        border: solid 2px $olive;
        border-radius: 5px;
        background-color: $grey;
        height: 70px;
        width: 100%;
        margin-top: 5px;

        p {
          padding: 12px;
          font-size: 20pt;
        }
      }
    }
  }
}
