.nav {
  height: 65px;
  width: 100%;
  background-color: $olive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 1;

  .logo {
    margin-right: 70%;
    flex-shrink: 1;
    font-family: 'Pacifico', cursive;
    font-size: 36pt;
    flex-basis: auto;;
  }

  .space {
    flex-shrink: 0;
    width: 5%;
  }

  .hamburger {
    flex-shrink: 1;
    &:hover{
      background-color: darken($olive, 8%);
    }

    img {
      height: 65px;
    }
  }
}
