$darkBlue: rgb(16,24,43);
$olive: rgb(149,171,99);
$lightGreen: rgb(189,214,43);
$grey: rgb(226,240,214);
$cream: rgb(246,255,224);

body {
  background-color: $cream;
  margin: 0px;
}

a {
  color: #00B7FF;
}

.nav {
  height: 65px;
  width: 100%;
  background-color: $olive;
  position: fixed;
  z-index: 1;
  .logo {
    font-family: 'Pacifico', cursive;
    font-size: 46px;
    margin-left: 5%;
  }
}

.content {
  height: 675px;
  background-color: $cream;
  padding-top: 65px;

  .sidebar {
    background-color: $cream;
    height: 100%;
    padding: 0;

    .menubox {
      border: 2px solid $cream;
      height: 75px;
      background-color: $grey;
      cursor: pointer;

      h3 {
        color: $olive;
        text-align: center;
      }
    }
  }

  .rightcontent {
    background-color: $cream;
    height: 100%;
    padding-right: 0;

    .photobox {
      width: 100%;
      height: 400px;
      background-color: $grey;
      margin-top: 40px;
      position: fixed;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px;

      .row {
        margin-left: 15px;
        display: flex;
        overflow-x: auto;
        width: 100%;

        .photoframe {
          background-color: $cream;
          height: 350px;
          margin: 22px 5px 0 5px;
          border-radius: 7px;
          width: 320px;
          min-width: 320px;
          flex: 0 0 auto;

          img {
            height: 275px;
            width: 275px;
            margin-top: 15px;
            margin-left: 7px;
          }
        }
      }
    }
  }
}
