<% include ./partials/header %>
  <body>
    <div class="nav">
      <div class="logo">SeeFood</div>
      <div class="hamburger" id="hamburger">
        <img src="/images/hamburger.png" alt="">
        <div class="dropdown hidden">
          <div class="menu-option" id='contigo'>
            <p>Contigo</p>
          </div>
          <div class="menu-option" id='login'>
            <p>Login</p>
          </div>
        </div>
      </div>
    </div>


    <div class="content">
      <div class="copy">
        <h3>SeeFood</h3>
        <hr>
        <h6>Browse and post photos of specific dishes in Austin's favorite restaurants.</h6>
      </div>
      <div class="col-md-3 sidebar" id='sidebar-menu'>

      </div>
      <div class="col-md-9 rightcontent">
        <div class="photobox hidden">
          <div class="row" id='photostrip'></div>
        </div>
      </div>
    </div>
  </body>
  <script src="/javascripts/script.js" charset="utf-8"></script>
</html>
