<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="nav">
      <div class="logo">SeeFood</div>
      <div class="hamburger" id="hamburger">
        <img src="/images/hamburger.png" alt="">
        <div class="dropdown hidden">
          <div class="menu-option" id='contigo'>
            <p>Contigo</p>
          </div>
          <div class="menu-option" id='login'>
            <p>Login</p>
          </div>
        </div>
      </div>
    </div>


    <div class="content">
      <div class="col-md-3 sidebar" id='sidebar-menu'>

      </div>
      <div class="col-md-9 rightcontent">
        <div class="photobox hidden">
          <div class="row" id='photostrip'></div>
        </div>
      </div>
    </div>
  </body>
  <script src="/javascripts/script.js" charset="utf-8"></script>
</html>
