<% include ./partials/header %>
<body class='loginbody'>
  <div class="nav">
    <div class="logo">SeeFood</div>
  </div>

  <div class="loginbox">
      <div class="row">
      <div class="medium-10 medium-centered columns">
        <div class="row">
          <div class="medium-6 columns">
            <div class="callout success">
              <h3>New here?</h3>

              <p>Fill out this form to create an account</p>

              <form action="/signup" method="post">
                <div class="row">
                  <div class="medium-6 columns">
                    <input type="text" placeholder="username" name="username">
                  </div>

                  <div class="medium-6 columns">
                    <input type="password" placeholder="password" name="password">
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 columns">
                    <input type="submit" value="Create Account" class="button success">
                  </div>
                </div>
              </form>
            </div>
          </div>

          <div class="medium-6 columns">
            <div class="callout secondary">
              <h3>Already have an account?</h3>

              <p>Login:</p>

              <form action="/login" method="post">
                <div class="row">
                  <div class="medium-6 columns">
                    <input type="text" placeholder="username" name="username">
                  </div>

                  <div class="medium-6 columns">
                    <input type="password" placeholder="password" name="password">
                  </div>
                </div>

                <div class="row">
                  <div class="small-12 columns">
                    <input type="submit" value="Login" class="button primary">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
