.nav {
  height: 65px;
  width: 100%;
  background-color: #95ab63;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  z-index: 1; }
  .nav .logo {
    margin-right: 70%;
    flex-shrink: 1;
    font-family: 'Pacifico', cursive;
    font-size: 36pt;
    flex-basis: auto; }
  .nav .space {
    flex-shrink: 0;
    width: 5%; }
  .nav .hamburger {
    flex-shrink: 1; }
    .nav .hamburger:hover {
      background-color: #809550; }
    .nav .hamburger img {
      height: 65px; }

body {
  background-color: #f6ffe0;
  margin: 0px; }

a {
  color: #00B7FF; }

.content {
  height: 675px;
  background-color: #f6ffe0;
  padding-top: 65px; }
  .content .sidebar {
    background-color: #f6ffe0;
    height: 100%;
    padding: 0; }
    .content .sidebar .menubox {
      border: 2px solid #f6ffe0;
      height: 75px;
      background-color: #e2f0d6;
      cursor: pointer; }
      .content .sidebar .menubox h3 {
        color: #95ab63;
        text-align: center; }
  .content .rightcontent {
    background-color: #f6ffe0;
    height: 100%;
    padding-right: 0; }
    .content .rightcontent .photobox {
      width: 100%;
      height: 400px;
      background-color: #e2f0d6;
      margin-top: 40px;
      position: fixed;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px; }
      .content .rightcontent .photobox .row {
        margin-left: 15px;
        display: flex;
        overflow-x: auto;
        width: 100%; }
        .content .rightcontent .photobox .row .photoframe {
          background-color: #f6ffe0;
          height: 350px;
          margin: 22px 5px 0 5px;
          border-radius: 7px;
          width: 320px;
          min-width: 320px;
          flex: 0 0 auto; }
          .content .rightcontent .photobox .row .photoframe img {
            height: 275px;
            width: 275px;
            margin-top: 15px;
            margin-left: 7px; }
          .content .rightcontent .photobox .row .photoframe form {
            display: flex;
            flex-direction: column;
            margin-top: 5px; }
            .content .rightcontent .photobox .row .photoframe form input {
              width: 175px;
              margin-left: 50px; }
