body {
  background-color: #f6ffe0;
  margin: 0px; }

a {
  color: #00B7FF; }

.nav {
  height: 65px;
  width: 100%;
  background-color: #95ab63;
  position: fixed;
  z-index: 1; }
  .nav .logo {
    font-family: 'Pacifico', cursive;
    font-size: 46px;
    margin-left: 4%; }

.content {
  height: 675px;
  background-color: #f6ffe0;
  padding-top: 65px; }
  .content .sidebar {
    background-color: #f6ffe0;
    height: 100%;
    padding: 0; }
    .content .sidebar .menubox {
      border: 2px solid #f6ffe0;
      height: 75px;
      background-color: #e2f0d6;
      cursor: pointer; }
      .content .sidebar .menubox h3 {
        color: #95ab63;
        text-align: center; }
  .content .rightcontent {
    background-color: #f6ffe0;
    height: 100%;
    padding-right: 0; }
    .content .rightcontent .photobox {
      width: 100%;
      height: 400px;
      background-color: #e2f0d6;
      margin-top: 40px;
      position: fixed;
      border-top-left-radius: 15px;
      border-bottom-left-radius: 15px; }
